V3X_BASE_URL=https://api.v3x.club
# Login accepts a username OR an email: set one of the two
V3X_USERNAME=<your_username>
V3X_EMAIL=
V3X_PASSWORD=<your_password>
PORT=9090
METRICS_PATH=/metrics
SCRAPE_INTERVAL=5m
EXPORTER_PORT=9101
